body {
    margin: 0;
    padding: 0;
}

/* index.html */

.container-fluid.text-center {
    margin-bottom: 0;
}

h1 {
    margin-bottom: 0;
}

.image-wrapper {
    position: relative;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chose-language{
    margin-bottom: 30px;
}

.card-body a.btn {
    background-color: #6472c4;
    color: #fff; 
    padding: 10px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px; 
}

.card-body a.btn:hover {
    background-color: #3f4d9d; 
}

.container-fluid{
    background-color: #6472c4;
    color: white;
    padding: 20px;
}

/* home.html */

.secret{
    background-color: white;
    padding: 10px;
    display: none;
    z-index: 1;
}

.card-title:hover + .secret{
    display: block;
}

#home-image{
    width: 100%;
}

/* about.html */

#main{
    padding: 0;
}

#main-text{
    background-color: white;
    color: black;
    text-align: center;
    padding: 2%;
}

#main-image{
    padding-left: 0;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
}

/* knowledges.html */

h2{
    margin-bottom: 30px;
}

#knowledges-image{
    width: 100;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6472c4;
    color: #fff;
    padding: 30px;
    top: 0;
    width: 100%;
    z-index: 50;
  }
  
  .left {
    margin-right: auto;
  }

  .left a{
    color: #fff;
    text-decoration: none;
  }
  
  .right {
    display: flex;
  }
  
  .right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }

  .right a:hover {
    color: #3f4d9d;
}

  /* footer */

  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6472c4;
    color: #fff;
    padding: 30px;
    width: 100%;
}

  /* Media query per tablet (larghezza massima: 992px) */
@media (max-width: 992px) {
    .container-fluid {
        padding: 15px;
    }
}

/* Media query per dispositivi mobili (larghezza massima: 768px) */
@media (max-width: 768px) {
    .container-fluid {
        padding: 10px;
    }
}
