/* body {
    margin: 0;
}

header{
    display: flex;
    text-align: center;
    background-color: #6472c4;
    color: white;
    padding: 0 10px;
    width: 100%;
}

main{
    position: relative;
}

section {
    display: grid;
}

main img {
    width: 100%;
}

main div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 30%;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

main a {
    background-color: #6472c4;
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6472c4;
    color: white;
    padding: 10px 10px;
    width: 100%;
    z-index: 1;
} */

body {
    margin: 0;
    padding: 0; /* Rimuovi il padding predefinito del corpo della pagina */
}

.container-fluid.text-center {
    margin-bottom: 0; /* Rimuovi il margin inferiore per il container con l'ID "footer" */
}

h1 {
    margin-bottom: 0; /* Rimuovi il margin inferiore per l'elemento h1 */
}

.image-wrapper {
    position: relative;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    text-align: center;
}

.card-body a.btn {
    background-color: #6472c4;
    color: #fff; /* Cambia il colore del testo per renderlo più leggibile */
}

.card-body a.btn:hover {
    background-color: #3f4d9d; /* Cambia il colore quando il pulsante è in hover */
}

.container-fluid{
    background-color: #6472c4;
    color: white;
    padding: 20px;
}